* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr min-content;
  grid-template-rows: min-content min-content 1fr min-content min-content;
}

header {
  height: 100px;
  grid-row: 1;
  grid-column: 1 / 4;
  padding: 10px 20px 30px 20px;
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: transparent linear-gradient(96deg, #cc0000 0%, #f00b54 100%) 0% 0%
    no-repeat padding-box;
    
}

header h1 {
  
  padding-top: 8px;
}

nav {
  grid-column: 1 ;
  grid-row: 3 ;
  width: 75%;
  padding: 10px 0px 10px 0px;
  margin-left: 25px;
  margin-top:6px;
  align-self: left;

  
}
nav ul {
    border-bottom-width: 4px;
    border-bottom-color: silver !important;
    border-radius: 1%;
    border-block-end-style: solid;
    align-self: start;
    margin-bottom: 15%;
    margin-top: 5%;
    
    
   
}
nav ul li {
  text-align: left;
  font-size: 22px;
  font-family: bold;
  margin: 15px 10px 30px 0px;
  text-decoration: none !important;
  list-style-type: none;
  
  
}
nav ul li:hover {
    border: 1px solid ;
    border-left-style: red solid;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent;    
    border-bottom-width: 1px;
    border-left-width: 5px;
    border-left-color: red !important;
    border-width: 0 1%;
    margin-left: 1%;
    margin-right: 2%;
    
    padding-left: 2%;
    
  }
nav ul li a {
  text-decoration: none !important;
}

nav ul li a:hover {
    text-decoration: none !important;
    color:red !important;
  }

iframe{
    grid-row: 4;
    border: 1px solid;
}


main {
   
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  margin: 10px 50px 10px ;
  
  
  
  text-align: justify;
}

aside {
 
  grid-row: 3 / 5;
  grid-column: 3/4;
  background-color: rgb(179, 23, 23);
  margin-top:50px;
  margin-right: 4vh;
  height: 50vh;
  width: 50vh;
  border-radius: 5%;
}

.login_container {
    grid-row: 3 / 5;
    grid-column: 3/4;
    background-color: grey;;
    margin-right: 4vh;
    height: 0vh;
    width: 50vh;
    border-radius: 5%;
}

footer {
  grid-row: 5;
  background-color: red;
  grid-column: 1 / 4;
}

.header_title {
  margin: 20px auto 10px auto;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 2;
  padding: 0px;
  font-size: 20px;
  align-self: center;
}

#header_title{
    
    text-align: center;
    font-size: 20px;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    

}

.body_title {
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 2;
  border-block-end-style: solid;
  display: grid !important;
  border-bottom-width: 8px;
  border-bottom-color: red !important;
  border-left: 0.25rem;
  margin-left: 1%;
  margin-right: 4vh;
}

.search_engine_button {
  margin: 22px 0px 0px 0px;
}

.home_icon_container {
  margin: 10px 5px 5px;
  
}

.page_header {
  text-align: center;
  grid-column: 2 / 3;
  padding: 20px 20px 20px 0px;
  display: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 40px;
  
}

.menu_hamburger {
  grid-column: 3 / 4;
  margin-left: 80%;
  margin-top: 10px;
  align-self: center;
}

.both_home_and_search {
  grid-column: 1 / 2;
  display: flex;
  align-self: center;
}

.side_content{
    
    margin: 10px;
    padding: 10px;
    display: grid;
    row-gap: 20px;
    background-color:grey;
    border: 1px solid;
    grid-column: 1/2;
    transition: transform .2s; 
    
}
.side_content:hover {
    transform: scale(1.1);
    margin-left: 20px; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.br {
    width: 30px;
    height: 30px;
}

.calendar{
    grid-row: 3 / 5;
    grid-column: 3/4;
}

#login{
   
    padding: 20px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    justify-content: space-between;
}
